.container {
    width: inherit;
    height: fit-content;
    cursor: pointer;
}

#graph_title {
    display: flex;
    justify-content: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 3rem;
}