.container {
    background-color: var(--neutral-Very-pale-orange);
    padding: 3.2rem 3.2rem 4rem 4rem;
    color: black;
    width: inherit;
    border-radius: 2rem;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
}